<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Haraiya Bus Service </title>
  
    
  </head>
  <body>
    <header class="header">
      <nav>
        <div class="nav__bar">
          <div class="logo">
            <a href="#"><img src="assets/hbs.png" alt="logo" /></a>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>
        <ul class="nav__links" id="nav-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#service">Services</a></li>
          <li><a href="#explore">contact</a></li>
          <li><a href="/pnrnumber">Ticket </a></li>
        </ul>
      <% if(islogin){ %>
        <a href="/user/logout" class="btn nav__btn" >Logout </a></button>
      

     <% }else{ %>
        <a href="/login" class="btn nav__btn" >Login </a></button>
    <%  } %>
       
      </nav>
      <div class="section__container header__container" id="home">
        <p>Simple - Unique - Friendly</p>
        <h1>Get Your Ticket<br /> Online Easy<span> & Safley</span>.</h1>
      </div>
    </header>