<section class="section__container banner__container">
    <div class="banner__content">
        <div class="banner__card">
            <h4>Enter Your Ticket No</h4>
            
          
            <form action="/ticketinfo" method="post">
                <label for="pnr"><h10 style="text-align: center; color: rgb(220, 20, 20); margin-left: 30px;">
                    <%- pnrerror %>
                  </h10></label>
                <input type="text" id="pnr" name="ticketPin" placeholder="Enter Ticket number" required>
                <button type="submit" value="submit">Submit</button>
            </form>
        </div>
    </div>
</section>