

<aside>
    <nav class="sidebar py-2 mb-4">
       <ul class="nav flex-column" id="nav_accordion">                      
          <li class="nav-item">
             <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#"> Buses <i class="bi small bi-caret-down-fill"></i> </a>
             <ul id="menu_item1" class="submenu collapse" data-bs-parent="#nav_accordion">
                <li><a class="nav-link" href="/addbus">Add Bus </a></li>
                <li><a class="nav-link" href="/busroute/">Add Bus Route </a></li>
                     
             </ul>
          </li>
          
          <li class="nav-item">
             <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#"> Category <i class="bi small bi-caret-down-fill"></i> </a>
             <ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion">
                <li><a class="nav-link" href="/customer">Customer </a></li>
                <li><a class="nav-link" href="/booking">Booking </a></li>               
             </ul>
          </li>
          <li class="nav-item">
             <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item3" href="#"> driver <i class="bi small bi-caret-down-fill"></i> </a>
             <ul id="menu_item3" class="submenu collapse" data-bs-parent="#nav_accordion">
                <li><a class="nav-link" href="/admin/products/">All driver</a></li>
                <li><a class="nav-link" href="/admin/products/add-products/">report card </a></li>              
             </ul>
          </li> 
          
          

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item4" href="#"> seat <i class="bi small bi-caret-down-fill"></i> </a>
            <ul id="menu_item4" class="submenu collapse" data-bs-parent="#nav_accordion">
               <li><a class="nav-link" href="/admin/products/">All Products</a></li>
               <li><a class="nav-link" href="/admin/products/add-products/">Add Products </a></li>              
            </ul>
         </li>   
       </ul>
       
    </nav>
 </aside>